@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Panel - Add Departments";
}
@model MvcCoreDemoApp.Controllers.AdminAddDepartmentController

<h4 class="display-5 text-center">Add New Department</h4>


@using (Html.BeginForm("SubmitDepartment", "AdminAddDepartmentController", FormMethod.Post))
{
    <div asp-controller:"Form" class="form-group border p-3 text-center">
        <label asp-for="inputDepartmentName">Department Name</label>
        <input asp-for="inputDepartmentName" type="text" class="form-control my-auto" id="inputDepartmentName" aria-describedby="departmentName" placeholder="Enter department name"> <br>
        <label asp-for="inputDepartmentManager">Department Manager</label>
        <input asp-for="inputDepartmentManager" type="text" class="form-control" id="inputDepartmentManager" aria-describedby="departmentCategory" placeholder="Enter department manager">
        <button type="submit" class="btn-lg btn-success m-3">Submit</button>
    </div>
}
<br>

