@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Department Manager Panel";
}
<h1 class="display-3 text-center">Department Manager Panel</h1>
<br>
<p class="text-center">Welcome to department manager panel. All department manager functionalities can be reached from here</p>
<br>
<div class="container text-center">
    <div class="d-inline-flex align-items-center">
        <a class="btn btn-md btn-warning mx-3" asp-action="AssignTask">Assign a Task</a>
    </div>
</div>