@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Client - Add Task ";
}
    <h4 class="display-5 text-center">Request a Task</h4> <br>
    <p class="text-center">Clients can request a new task here</p> <br>

    <div class="form-group">
        <label for="taskName">Task Name:</label>
        <input type="text" class="form-control" id="taskName">
        <br>
        <label for="description">Task Description:</label>
        <textarea class="form-control" rows="5" id="description"></textarea> <br>
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Task Category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
            <button class="btn btn-success">Request</button>
        </div>
        
    </div>