@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Client Panel";
}
<h1 class="display-3 text-center">Client Panel</h1>
<br>
<p class="text-center text-md">Welcome to the client panel.All client functionalities are available here</p>
<br>
<div class="container text-center">
    <div class="d-inline-flex align-items-center">
        <button class="btn btn-md btn-success mx-3">Request Task</button>
        <button class="btn btn-md btn-primary mx-3">Monitor Task</button>
    </div>
</div>