@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Admin Panel - Add Manager";
}
<h4 class="display-5 text-center">Add New Manager</h4>

<div class="form-group border p-3 text-center">
    <label for="inputManagerName">Manager Name</label>
    <input type="text" class="form-control my-auto" id="inputManagerName" aria-describedby="managerName" placeholder="Enter manager's name"> <br>
    <label for="inputDepartmentCategory">Manager's Department</label>
    <input type="text" class="form-control" id="inputManagerDepartment" aria-describedby="managerDepartment" placeholder="Enter manager's department">
    <button class="btn-lg btn-success m-3">Submit</button>

</div>
<br>
