@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Panel - Managers";
}

<h1 class="display-3 text-center">Managers Panel</h1>
<br>
<p class="text-center text-md">Welcome to the managers panel. You can add, delete or modify manager informations here</p>
<br>

<div class="container text-center">
    <div class="d-inline-flex align-items-center">
        <button class="btn btn-md btn-success mx-3">Add Manager</button>
        <button class="btn btn-md btn-danger mx-3">Delete Manager</button>
        <button class="btn btn-md btn-primary mx-3">Modify Manager</button>
    </div>
</div>