@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Employee Panel - Task Closure";
}

<h4 class="display-4 text-center">Task Closure</h4> <br>
<p class="text-center">Employees can close a task here, adding a description is <b>necessary</b></p>
<br>
<br>
<div class="container">
    <!-- <form action="/action_page.php"> -->
    <form action="#">
        <div class="form-group">
            <label for="dropdownTaskClosure">Choose a task to close:</label>
            <select class="form-control" id="dropdownTaskClosure" name="list1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select> <br>
            <label for="taskDescriptionClosure">Task closure description:</label>
            <textarea class="form-control" id="taskDescriptionClosure" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Close task</button>
    </form>
</div>
