@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Admin Panel - Update Managers";
}
<h4 class="display-5 text-center">Update Manager</h4>
<br>
<p class="text-center">Update a manager by it's name </p>   <br>
<div class="form-group border text-center p-3">
    <label for="inputManagerNameUpdateOld" class="m-3">Current Manager Name</label>
    <input type="text" class="form-control my-auto" id="inputManagerNameUpdateOld" aria-describedby="managerNameOld" placeholder="Enter current manager name"> <br>
    <label for="inputManagerNameUpdateNew" class="m-3">New Manager Name</label>
    <input type="text" class="form-control my-auto" id="inputManagerNameUpdateNew" aria-describedby="managerNameNew" placeholder="Enter current department name"> <br>
    <button class="btn-lg btn-primary">Update</button>  <br>
</div>